{% load static %}

<!-- Skills Section -->
<section id="skills" class="skills section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Skills</h2>
      <p>I bring a diverse set of technical skills across both frontend and backend development. My main strengths lie in building robust web applications, creating clean UI/UX, and integrating DevOps practices for deployment and scaling.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row skills-content skills-animation">

        <div class="col-lg-6">
          {% for skill in skills%}
          <div class="progress">
            <span class="skill"><span>{{skill.name}}</span> <i class="val">{{skill.percentage}}%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow={{skill.percentage}} aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->
          {% endfor%}

        </div>

      </div>

    </div>

</section><!-- /Skills Section -->