{% extends "includes/base.html" %}

{%block content %}
<a href="{% url 'contact_add' %}" class="btn btn-success mb-3">Add Contact</a>
<table class="table" style="margin">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Subject</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for contact in contact_lists %}
      <tr>
        <th scope="row">{{forloop.counter }}</th>
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.subject}}</td>
        <td>
            <a href="{% url 'contact_edit' contact.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'contact_delete' contact.id %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
        {% endfor %}
      
    </tbody>
  </table>

{%endblock content %}