<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        h1{
            color:brown;
            text-align: center;
            fornt-size: 18px;
        }
        .form-div{
            margin: 5px;
        }
    </style>
</head>
<body>
    <h1>This is the Contact Page for the Django </h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-div">
            <lable for="name">Name</lable>
            <input type="text" name="name">
        </div class="form-div">
        <div class="form-div">
            <lable for="email">Email</lable>
            <input type="text" name="email">
        </div class="form-div">
        <div class="form-div">
            <lable for="subject">Subject</lable>
            <input type="text" name="subject">
        </div class="form-div">
        <div class="form-div">
            <lable for="message">Message</lable>
            <input type="text" name="message">
        </div class="form-div">
        <button>Submit</button>

</body>
</html>