{% extends "includes/base.html" %}
{% load static %}
{% include "includes/header.html" %}

<body class="index-page">
{% include "includes/sidebar.html"%}
  <main class="main">

    {% block content%}
    
    {% include "subsection/hero.html"%}

    {% include "subsection/about.html"%}

    {% include "subsection/stats.html"%}

    {% include "subsection/skills.html"%}

    {% include "subsection/resume.html"%}

    {% include "subsection/portfolio.html"%}

    {% include "subsection/services.html"%}

    {% include "subsection/testimonials.html"%}

    {% include "subsection/contact.html"%}

    {%endblock content%}
  </main>

  {% include "includes/footer.html"%}

</html>